
<div class="row">
  <div class="col-sm-12">
    <div class="card p-0 mb-2">
      <div class="card-header p-2 mb-0">
        <div class="row">
          <div class="col-md-6">
            <h4><i class="ti ti-map-plus"></i> &nbsp;&nbsp;Commercial Farm & Investment Details</h4>
          </div>
          <div class="col-md-6 " style="text-align: right">
            <div  *ngIf="!loading && data">
              <button type="button" class="btn btn-custom-light me-1"  data-bs-toggle="modal" data-bs-target="#add-certification-document-dialog">
                {{certification.doc ? 'Change Certification Document' : 'Select Certification Document *'}}
              </button>
              <button  type="button" class="btn btn-custom-light me-1" data-bs-toggle="modal" data-bs-target="#add-lease-document-dialog">
                {{leaseContract.doc ? 'Change Lease Document' : 'Select Lease Document *'}}
              </button>
              <button class="btn btn-custom" type="button" (click)="onCertify()" [disabled]="!certification.doc || !leaseContract.doc">
                Certify Location
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!loading && data">
    <div class="alert alert-primary d-flex align-items-center p-1 mb-2">
      <table class="table p-0 m-0">
        <tbody>
        <tr>
          <td class="m-0 p-1"
              style="vertical-align: middle; font-size: 2rem; border-right: 2px solid rgba(0,0,0,0.25); text-align: center;color:#72b325">
            <i class="ti ti-bell-ringing-filled"></i>
          </td>
          <td class="m-0" style="font-size: 0.75rem; vertical-align: middle">
            <b>Sent by: </b> <span *ngIf="userWorkItems">{{ userWorkItems.sentUserName }}</span><br/>
            <b>On: </b> <span *ngIf="userWorkItems">{{ userWorkItems.workItemDate | date }}</span><br/>
            <b>Note: </b> <span *ngIf="userWorkItems">{{ userWorkItems.description }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="!loading && data">
    <app-farm-detail *ngIf="data" [farm]="data"></app-farm-detail>
  </div>
  <div class="col-md-12" *ngIf="loading">

  </div>
</div>

<div id="add-certification-document-dialog" class="modal fade" tabindex="-1" aria-labelledby="add-certification-document-dialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-certification-document-dialogLabel">  {{certification.doc ? 'Change Certification Document' : 'Select Certification Document'}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-single-document-selector
          title="Choose a Document"
          [document]="certification.doc"
          (change)="chooseCertificationDocument($event)"
        ></app-single-document-selector>
      </div>
      <div class="modal-footer right">
        <button type="button" class="btn btn-warning" (click)="clear()" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="add-lease-document-dialog" class="modal fade" tabindex="-1" aria-labelledby="add-lease-document-dialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-lease-document-dialogLabel">  {{leaseContract.doc ? 'Change Lease Document' : 'Select Lease Document'}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-single-document-selector
          title="Choose a Document"
          [document]="leaseContract.doc"
          (change)="chooseLeaseContractDocument($event)"
        ></app-single-document-selector>
      </div>
      <div class="modal-footer right">
        <button type="button" class="btn btn-warning" (click)="clear()" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Save</button>
      </div>
    </div>
  </div>
</div>
