<div class="row me-0">
  <div class="col-md-8 pe-0">
    <div class="modal-header">
      <h4 class="modal-title" id="landAssignmentDialogLabel">Farm Contract BudgetYear Renewal Form</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeForm()"></button>
    </div>
    <div class="modal-body p-2" style="height: 75vh; overflow-y: auto">
      <div class="form-group">
        <table class="table">
          <thead>
          <tr>
            <th colspan="4">Right Select For Warning</th>
          </tr>
          <tr>
            <th>Land Info</th>
            <th>Right Info</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="warningModel.renewRight!=null">

            <td>
              <table class="table">
                <tbody>
                <tr>
                  <td><small><b>UPID: </b></small></td>
                  <td><small>{{ warningModel.renewRight.id }} ({{ getFarmStatus(warningModel.renewRight.status.id) }}
                    )</small></td>
                </tr>
                <tr>
                  <td><small><b>Area: </b></small></td>
                  <td><small>{{ getArea(warningModel.renewRight.landSectionArea) }}</small></td>
                </tr>
                <tr>
                  <td><small><b>Centroid-X: </b></small></td>
                  <td><small></small></td>
                </tr>
                <tr>
                  <td><small><b>Centroid-Y: </b></small></td>
                  <td><small></small></td>
                </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table">
                <tbody>
                <tr>
                  <td><small><b>Right Type: </b></small></td>
                  <td><small>{{ getRightType(warningModel.renewRight.rightType) }}</small></td>
                </tr>
                <tr>
                  <td><small><b>Right From: </b></small></td>
                  <td><small>{{ warningModel.renewRight.rightFrom | date }}</small></td>
                </tr>
                <tr>
                  <td><small><b>Right To: </b></small></td>
                  <td><small>{{ warningModel.renewRight.rightTo | date }}</small></td>
                </tr>
                <tr>
                  <td><small><b>Yearly Amount: </b></small></td>
                  <td><small>{{ warningModel.renewRight.yearlyRent | currency:"Br" }}</small></td>
                </tr>
                </tbody>
              </table>
            </td>

          </tr>
          </tbody>
        </table>
      </div>

      <div class="row me-0">
        <div class="col-md-6">
          <div class="form-group">
            <label for="budgetYear">
              Budget Year:<span class="text-danger">(*)&nbsp;</span>
              <span class="error-message" *ngIf="!warningModel.budgetYear">
            <i class="ti ti-exclamation-circle"></i> this is required
          </span>
            </label>
            <input type="number" class="form-control" id="budgetYear"
                   [(ngModel)]="warningModel.budgetYear" required/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="renewalDate">
              Renewal Date:<span class="text-danger">(*)&nbsp;</span>
              <span class="error-message" *ngIf="!warningModel.date">
            <i class="ti ti-exclamation-circle"></i> this is required
          </span>
            </label>
            <input type="date" class="form-control" id="renewalDate"
                   [(ngModel)]="warningModel.date" required/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="cancellationReason">
              Describe Warning Reason:<span class="text-danger">(*)&nbsp;</span>
              <span class="error-message" *ngIf="!warningModel.remark">
            <i class="ti ti-exclamation-circle"></i>remark is required
          </span>
            </label>
            <textarea class="form-control" id="cancellationReason" rows="3"
                      [(ngModel)]="warningModel.remark" required></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <app-authority-registrar
              title="Contract Renewal Supportive Documents"
              [registrations]="warningModel.supportiveDocument"
              [registrationTypes]="registrationTypes"
              [registrationAuthorities]="registrationAuthorities"
              (change)="$event.registrations && (warningModel.supportiveDocument = $event.registrations)"
            ></app-authority-registrar>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer right">
      <button type="button" class="btn btn-default" (click)="closeForm()">Cancel</button>
      <button type="button" class="btn btn-primary btn-md" [disabled]="!(warningModel.date!='' && warningModel.remark!='' && warningModel.supportiveDocument?.length>0 )" (click)="saveRenewal()">Save & Request Approval</button>
    </div>
  </div>
  <div class="col-md-4 p-1">
    <app-camis-map #camis_map></app-camis-map>
  </div>
</div>
