<div class="document-list" *ngIf="documents">
    <table class="table p-0 m-0">
        <thead *ngIf="title">
        <tr>
            <th colspan="3">
                <i class="ti ti-file-text"></i>&nbsp; {{title}}
            </th>
        </tr>
        </thead>
        <tbody *ngIf="documents?.length>0">
        <tr *ngFor="let doc of documents; index as i" >
          <td class="ps-0 pe-0 pb-1 pt-1">
            <table class="table mb-0">
              <tbody>
              <tr>
                <td id="doc-icon">
                  <a (click)="openDoc($event, doc)" [href]="getLink(doc)" target="_blank">
                    <i class="ti ti-file-type-{{getFileExtension(doc.filename)}}"></i>
                  </a>

                </td>
                <td id="doc-ref">
                  <a (click)="openDoc($event, doc)" [href]="getLink(doc)" target="_blank">
                    {{doc.filename || 'Open Document'}}
                  </a>
                  <ul class="mb-0 ps-1">
                    <li> <i class="ti ti-checkbox"></i> &nbsp; <span><b>Ref.: </b>&nbsp; {{doc.ref}}</span></li>
                    <li><i class="ti ti-checkbox"></i> &nbsp; <span><b>Date: </b>&nbsp; {{doc.date | date}}</span></li>
                    <li><i class="ti ti-checkbox"></i> &nbsp; <span><b>Note: </b>&nbsp; {{doc.note || '[n/a]'}}</span></li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      <tbody *ngIf="documents?.length==0">
      <tr class="no-data">
        <td class="ali">
          <div class="align-center mt-5 ">
            <i class="ti ti-exclamation-circle"></i>
            <p>There is no document uploaded</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>
