<div class="document-list" *ngIf="documents">
    <table class="table p-0 m-0">
        <thead *ngIf="title">
        <tr>
            <th colspan="3" >
                <i class="ti ti-file-text"></i>&nbsp; {{title}}
            </th>
        </tr>
        </thead>
        <tbody *ngIf="documents?.length>0">
        <tr *ngFor="let doc of documents; index as i" >
          <td class="p-0">
            <div class="card total-income-card warning overflow-hidden mt-1 mb-0">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-lg icon-warning m-r-5">
                    <a (click)="openDoc($event, doc)" [href]="getLink(doc)" target="_blank">
                      <i class="text-warning f-24 ti ti-file{{'-type-'+getFileExtension(doc.filename)}}"></i>
                    </a>

                  </div>
                  <div class="ms-2">
                    <h4 class="f-w-400 mb-1"><a (click)="openDoc($event, doc)" [href]="getLink(doc)" target="_blank">
                      {{doc.filename || 'Open Document'}}
                    </a></h4>
                    <ul class="mb-0 ps-1 opacity-50 text-sm">
                      <li> <i class="ti ti-checkbox"></i> &nbsp; <span><b>Ref.: </b>&nbsp; {{doc.ref}}</span></li>
                      <li><i class="ti ti-checkbox"></i> &nbsp; <span><b>Date: </b>&nbsp; {{doc.date | date}}</span></li>
                      <li><i class="ti ti-checkbox"></i> &nbsp; <span><b>Note: </b>&nbsp; {{doc.note || '[n/a]'}}</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      <tbody *ngIf="documents?.length==0">
      <tr class="no-data">
        <td class="ali">
          <div class="align-center mt-5 ">
            <i class="ti ti-exclamation-circle"></i>
            <p>There is no document uploaded</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>
