<div id="user" class="tab-pane board">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-tree"></i>&nbsp; Investment Detail</h2>
      <ul class="nav navbar-right panel_toolbox">
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content has-scroll">
      <div *ngIf="loading" class="align-center"><h2>Loading...</h2></div>
      <div *ngIf="!loading && farm">
        <app-farm-detail *ngIf="farm" [farm]="farm"></app-farm-detail>
      </div>
    </div>
  </div>
</div>

