<div class="map-container">
  <div id="camis_map"></div>

  <!-- Overlay controls -->
  <div class="map-controls-overlay">
    <div class="control-group">
      <select [(ngModel)]="mapType" class="form-select form-control-sm" (change)="googleMapSetting()">
        <option value="satellite">Satellite</option>
        <option value="roadmap">Roadmap</option>
        <option value="hybrid">Hybrid</option>
        <option value="">No Base Map</option>
      </select>
    </div>

    <div class="control-group">
      <select [(ngModel)]="backTo" class="form-select form-control-sm" (change)="googleMapSetting()">
        <option value="Land">Land</option>
        <option value="Kebele">Kebele</option>
        <option value="Woreda">Woreda</option>
        <option value="Region">Region</option>
      </select>
    </div>
    <div class="control-group">
      <button class="full-screen-toggle" (click)="toggleFullScreen()">
        <i [class]="isFullScreen ? 'ti ti-arrows-minimize' : 'ti ti-arrows-maximize' "></i>
      </button>
    </div>
  </div>
</div>
