
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="col-md-12">
                <h2><i class="fa fa-user-circle-o"></i> Employee Management</h2>
                <div class="title_right">
                    <div class="align-right">
                        <div class="col-md-5 col-sm-5 col-xs-5 col-md-offset-1 form-group top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." />
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                     </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <button class="btn-success btn" (click)="addBtnClick()"><i class="fa fa-plus " ></i> Add Employee</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-4 profile_details">

            </div>
            <div class="col-md-4 profile_details">
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 profile_details">
                <div class="well profile_view">
                    <div class="left col-xs-7">
                        <h2>Yitagesu Kebede</h2>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> : Addis Ababa, Ethiopia </li>
                            <li><i class="fa fa-phone"></i> : +251-910-616253 </li>
                            <li><i class="fa fa-envelope-square"></i> : yitekeyman@gmail.com</li>
                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="/images/user.png" alt="" class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="bnt-group">
                            <button class="btn btn-xs btn-success"> <i class="fa-edit fa"></i> Edit </button>
                            <button class="btn btn-xs btn-primary"> <i class="fa fa-eye"></i> View</button>
                            <button class="btn btn-xs btn-warning"> <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade " id="editEmployee" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <app_employee_register *ngIf="isRegisterShowed" (closeEditForm)="closeForm($event)"></app_employee_register>
    </div>
</div>