<section id="investorBids" class="min">
    <div class="investorBids-container">
        <div class="has-bottom-index align-center">
            <div class="investorBids-header min-header align-center">
                <h2>Application Details</h2>
            </div>
        </div>
        <div class="investorBids-body min-body">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4><i class="fa fa-file-pdf-o"></i>  Application Detail</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="timeline-dsc x_content">
                        <investor-application [promotionUnitID]="promotionUnitID" [investorID]="investorID"></investor-application>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4> Promotion Detail</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="timeline-dsc x_content">
                        <app-promo-unit-detail  [promotionID]="promotionID" [promotionUnitID]="promotionUnitID"  [investorID]="investorID"></app-promo-unit-detail>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>