/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2017, 3:33:44 PM
    Author     : yitagesu
*/

@charset "UTF-8";
@import url('font-awesome.min.css');
@import url('font-awesome-animation.css');

.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.error{
    padding-top: 10%;
}
.icon{
    font-size: 80pt;
    color:#999999;
}
.cancel i{
    font-size: 40pt;
    font-weight:lighter;
    border:1px solid cadetblue;
    border-radius: 50%;
    padding: 10px 17px;
    -webkit-text-stroke: 10px #fff;
    color:#999999;
    margin-top: 10%;
    cursor: pointer;
}
.refresh i{
    font-size: 40pt;
    font-weight:lighter;
    border:1px solid chartreuse;
    border-radius: 50%;
    padding: 10px 15px;
    -webkit-text-stroke: 7px #fff;
    color: #6666ff;
    margin-top: 10%;
    cursor: pointer;
}
.message h1{
    font-size: 70pt;
    color:#999999;
}
#login{
    background-image:url(../images/overlay.png), url(../images/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
#login .parties{
    background:#001232;
    position: fixed;
    top:20%;
    left:10%;
    right: 10%;
    bottom: 20%;
    opacity: 0.85;
}
.camis{
    color:#fff;
    text-align: center;
    position: absolute;
    left: 0;
    right: 35%;
    top:5%;
}
.camis i{
    font-size: 70pt;
    color: #00FF00;
}
.camis h1{
    font-size: 50pt;
}
#login .parties-logo{
    position: absolute;
    bottom: 10px;
    text-align: center;
    right: 35%;
    left: 0;
}
#login .parties-logo img{
    padding:15px;
}
#login .parties-logo .first, #login .parties-logo .middle{

    border-right:1px solid #fff;
}
#login .login-page{
    background: #fff;
    position: absolute;
    top: 15%;
    right:13%;
    bottom: 15%;
    width: 25%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #666666;
    padding:5px 0px;

}
#login .login-content .login-icon{
    border-bottom: 1px solid #ccc;
}
#login  .login-content .login-icon p, #login .login-footer p{
    font-size: 11px;
    color:cadetblue;
}
#login .login-content{
    padding: 20px 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    top:0;
    overflow: auto;
}
#login .username, #login .password{

    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 3px solid #660066;
    border-left: none;
    border-right: none;
    border-top:none;
    margin-bottom: 20px;
    margin-top: 20px;
}
#login .username:hover, #login .password:hover{
    background: #ccc;
}
#login .username:focus, #login .password:focus{
    background: #ccc;
    box-shadow: none;
}
#login .login-footer{
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    padding:5px 0 0;
}
#login-error{
    color:#999999;
    font-size: 10pt;
}
.login-content::-webkit-scrollbar,
#map-tab .x_content::-webkit-scrollbar,
#map-legend-tab .x_content::-webkit-scrollbar,
.has-scroll::-webkit-scrollbar{
    width:0.85em;
    height: 0.85em;
}

.login-content::-webkit-scrollbar-track,
#map-tab .x_content::-webkit-scrollbar-track,
#map-legend-tab .x_content::-webkit-scrollbar-track,
.has-scroll::-webkit-scrollbar-track{
    border-radius:1px;
    background:#e4d0d0;
}

.login-content::-webkit-scrollbar-thumb,
#map-tab .x_content::-webkit-scrollbar-thumb,
#map-legend-tab .x_content::-webkit-scrollbar-thumb,
.has-scroll::-webkit-scrollbar-thumb{
    background-color:#b5b0b0;
    border-radius:1px;
}
.login-content::-webkit-scrollbar-thumb:hover,
#map-tab .x_content::-webkit-scrollbar-thumb:hover,
#map-legend-tab .x_content::-webkit-scrollbar-thumb:hover,
.has-scroll::-webkit-scrollbar-thumb:hover
{
    background-color:#2A3F54;
    border-radius:5px;
}
.login-content::-webkit-scrollbar-track:hover,
#map-tab .x_content::-webkit-scrollbar-track:hover,
#map-legend-tab .x_content::-webkit-scrollbar-track:hover,
.has-scroll::-webkit-scrollbar-track:hover{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:5px;
}
.right_col_footer{
    position: absolute;
    bottom: 0;
}
.right_col_content{
    position: absolute;
    top:70px;
    bottom: 0;
    padding-right:10px;
    overflow-y: auto;
}
#map-tab .x_content{
    height: calc(100vh - 160px);;
    overflow: auto;
}
#map-legend-tab .x_content{
    height: calc(91vh - 259px);
    overflow: auto;
}
.search-result{
    max-height: 200px;
    overflow:auto;
}
.map{
    max-height: 326px;
    overflow: auto;
}
.table td{
}

#nav_title {
    background: linear-gradient(rgba(0,255,0,0.14), rgba(255,255,255,0.03));
    border-bottom: 1px solid rgba(0,0,0,0.28) !important;
}
#nav_title .site_title {
    font-size: 24pt;
    letter-spacing: 5px;
}
#nav_title .site_title .fa {
    margin: 0 2px;
    padding: 5px;
    height: 32pt;
    width: 32pt;
    font-size: inherit;
    text-align: center;
    letter-spacing: 0;
}

#menu_toggle i {
    font-size: 14px !important;
    margin: 8px;
    color: rgb(140,140,140);
}

#updatePass .modal-dialog{
    width: 400px;
}
#roleModal .modal-dialog{
    width: 310px;
    margin-right: 15%;
    margin-top: 10%;
}
#addImgBtn .btn{
    width: 50%;
    padding:10px 15px;
    border-radius:0px;
}
#addImgBtn .btn-group{
    display: block;
}
#editFileBtn .btn{
    width: 100%;
    padding:10px 15px;
    border-radius:0px;
}
.body-container{
    height: 100%;
    overflow: auto;

}
.board, .board-with-header-footer{
    height: 98%;
}
.board>.x_panel, .board-with-header-footer>.x_panel{
    height:100%;
}
.board .x_content{
    height: 90%;
    overflow: auto;
    margin-right: -20px;
}
.board-with-header-footer .x_content{
    height: 80%;
    overflow: auto;
}
#map_preview{
    height: 94%;
    border: 1px solid #e4b9b9;
}
#map_preview2{
    height: 200px;
    border:1px solid #e4b9b9;
}
.arrow-left{
    border-left: 2px solid #777;
    margin-top: 2px;
}
.empty-task{
}
.empty-task i{
    font-size: 25pt;
}
#farm-regitration{
    padding:0;
    margin-top: 0;
    height: 95%;
    overflow: hidden;
}
#farm-regitration form{
    height: 98%;
}
#farm-reg-panel{
    border-radius: 0;
    margin-bottom: 0;
    height: 98%;
}
#farm-reg-panel .panel-body{
    height: 82%;
    overflow: auto;
}
.error{
    color:#ff0000;
}


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "X";
}
.map-footer{
    background: rgba(52,73,94,.94);;
    width: 100%;
    color: #FFFFFF;
    
}
#legend{
    margin-top: 10px;
}
#tclick{
    font-size: 9pt;
}