.table label{
  font-size: 0.800rem;
  font-weight: 600;
}

.text-bg-1{
  background-color: #0d6efd;
  color: #fff;
  font-size: 0.775rem;
}
.text-bg-2{
  background-color: #198754;
  color: #fff;
  font-size: 0.775rem;
}
.text-bg-3{
  background-color: #6610f2;
  color: #fff;
  font-size: 0.775rem;
}
.text-bg-4{
  background-color: #ffc107;
  color: #fff;
  font-size: 0.775rem;
}
.text-bg-5{
  background-color: #f8f9fa;
  font-size: 0.775rem;
}
