<div class="row g-4 justify-content-center" *ngIf="dashboardData">
  <div class="col-xl-4 col-md-6">
    <div class="card mb-2 earning-card bg-secondary-dark text-white overflow-hidden">
      <span class="round secondary-round small"></span>
      <span class="round secondary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-cloud-dollar f-24"></i>
            </div>
          </div>
          <div class="col-auto">

          </div>
        </div>
        <span class="text-white d-block f-28 f-w-500 my-2">
         {{dashboardData.investmentDataStat.investedCapital | currency:'Br '}}
        </span>
        <p class="mb-0 opacity-50">Total Invested Capital</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card mb-2 earning-card bg-primary-dark text-white overflow-hidden">
      <span class="round primary-round small"></span>
      <span class="round primary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-users-group f-24"></i>
            </div>
          </div>
          <div class="col-auto">
            <span class="text-white d-block f-30 f-w-500 ">
               {{dashboardData.investmentDataStat.totalInvestors | number}}
            </span>

          </div>
        </div>
        <span class="text-white d-block f-28 f-w-500 my-2">
          {{dashboardData.investmentDataStat.investorCapital | currency:'Br '}}
        </span>
        <p class="mb-0 opacity-50">Total Investor Registered</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card mb-2 total-income-card overflow-hidden bg-primary-dark text-white">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon m-r-5">
            <i class="text-white ti ti-user-bolt f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white f-w-600 mb-1">{{dashboardData.investmentDataStat.foreignOrigin.totalInvestors | number}} | {{dashboardData.investmentDataStat.foreignOrigin.investmentCapital | currency:'Br '}}</h4>
            <p class="mb-0 opacity-50 text-sm">Foreign Investor</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2 total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-warning ti ti-user-heart f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">{{(dashboardData.investmentDataStat.ethiopianOrigin.totalInvestors + dashboardData.investmentDataStat.local.totalInvestors) | number}} | {{(dashboardData.investmentDataStat.ethiopianOrigin.investmentCapital + dashboardData.investmentDataStat.local.investmentCapital) | currency:'Br '}}</h4>
            <p class="mb-0 opacity-50 text-sm">Loacl & Ethiopian Origin Investor</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card mb-2 total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-warning ti ti-flag-pin f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">{{dashboardData.identifiedParcels.totalParcels | number}} Parcels | ({{(dashboardData.identifiedParcels.totalArea)/10000 | number}} Hr)</h4>
            <p class="mb-0 opacity-50 text-sm">Identified Parcels</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card mb-2 total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon m-r-5">
            <i class="text-white ti ti-map-check f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">{{dashboardData.preparedParcel.totalParcels | number}} Parcels | ({{(dashboardData.preparedParcel.totalArea)/10000 | number}} Hr)</h4>
            <p class="mb-0 opacity-50 text-sm">Prepared Parcels</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card mb-2  total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-warning ti ti-user-pin f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">{{dashboardData.transferredParcel.totalParcels | number}} Parcels | ({{(dashboardData.transferredParcel.totalArea)/10000 | number}} Hr)</h4>
            <p class="mb-0 opacity-50 text-sm">Transferred Parcels</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card mb-2 mt-0 total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-info m-r-5">
            <i class="text-warning ti ti-droplets f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">{{dashboardData.irrigatedParcel.totalParcels | number}} Parcels | ({{(dashboardData.irrigatedParcel.totalArea)/10000 | number}} Hr)</h4>
            <p class="mb-0 opacity-50 text-sm">Moisture Source (Irrigation)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2 total-income-card warning overflow-hidden" *ngFor="let item of dashboardData.parcelSuitableFor">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-warning ti ti-map-pause f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">{{item.totalParcels | number}} Parcels | ({{(item.totalArea)/10000 | number}} Hr)</h4>
            <p class="mb-0 opacity-50 text-sm">Suitable for {{item.parcelStatus.name}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xl-8 col-md-12 mb-2">
    <app-camis-map #camis_map></app-camis-map>

  </div>
</div>
