<div class="single-document-selector">
  <table class="table table-striped table-responsive jambo_table bulk_action">
    <thead>
    <tr>
      <th colspan="2">
        <i class="fa fa-file-text"></i>&nbsp; {{title}}
      </th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>File: *</td>
      <td>
        <input [(ngModel)]="add_file" (change)="changeDocument($event)" type="file" placeholder="Browse file..." class="form-control">
      </td>
    </tr>
    <tr>
      <td>Ref.: *</td>
      <td>
        <input [(ngModel)]="add_ref" (change)="changeDocument()" (keyup)="changeDocument()" type="text" placeholder="Ref. *" class="form-control">      </td>
    </tr>
    <tr>
      <td>Date: *</td>
      <td>
        <input [(ngModel)]="add_date" (change)="changeDocument()" (keyup)="changeDocument()" type="date" placeholder="Date *" class="form-control">
      </td>
    </tr>
    <tr>
      <td>Note:</td>
      <td>
        <textarea [(ngModel)]="add_note" (change)="changeDocument()" (keyup)="changeDocument()" placeholder="Note" class="form-control"></textarea>
      </td>
    </tr>
    </tbody>
  </table>
</div>
