.page-link.active {
  color: #fff;
  background: #37882c;
  border-color: #37882c;
  :is(hover){
    background: #37882c;
  }
}

.page-link:hover {
  color: #fff;
  background: #71b220;
  border-color: #71b220;
}

.page-link {
  color: #37882c;
  font-weight: 500;
}
.no-data {
  color:rgba(0,0,0,0.6);
}
.no-data i{
  font-size:4rem;
}
table tbody .with-data{
  font-size: 10pt;
}
