.landBank_x_panel{
    min-height: 91.5vh;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, 
.table>thead>tr>th{
    cursor: pointer;
}
.land-type-select {
    padding: 7px!important;
    border: 1px solid rgba(221,226,232,.49)!important;
    border-radius: 25px!important; width: 100%;
}
#search{
    width: 100%;
}
.edit-button{
    padding: 0 4px!important;
    z-index: 1000!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 4px!important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #046904!important;
    border-color: #046904!important;
    color: white!important;
}
.pagination>li>a, .pagination>li>span{
    color: #046904!important;
}
.pagination[_ngcontent-c2] > .active[_ngcontent-c2] > a[_ngcontent-c2], .pagination[_ngcontent-c2] > .active[_ngcontent-c2] > a[_ngcontent-c2]:focus, .pagination[_ngcontent-c2] > .active[_ngcontent-c2] > a[_ngcontent-c2]:hover, .pagination[_ngcontent-c2] > .active[_ngcontent-c2] > span[_ngcontent-c2], .pagination[_ngcontent-c2] > .active[_ngcontent-c2] > span[_ngcontent-c2]:focus, .pagination[_ngcontent-c2] > .active[_ngcontent-c2] > span[_ngcontent-c2]:hover{
    cursor: pointer!important;
}
.pagination-nav{
    left: 45%;
    position: fixed;
    bottom: -20px;
    transform: translate(-45%, 0);
}
@media only screen and (max-width: 1020px) {
    .pagination-nav{
        left: 20%;
        transform: translate(-20%, 0);
    }    
}
.goto-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}