<section id="investorBids" class="min">
    <div class="investorBids-container">
        <div class="has-bottom-index align-center">
            <div class="investorBids-header min-header align-center">
                <h3>Promotion</h3>
                <h2>Your Promotion Activities</h2>
            </div>
        </div>
        <div class="investorBids-body min-body">
            <app-promotion-detail  [promotionID]="promotionID" [isApply]="isApply" [investorID]="investor_id"></app-promotion-detail>

        </div>
    </div>
</section>
