<div class="col-md-12" *ngIf="farm.farmLands?.length>0">
  <div class="card p-0">
    <div class="card-body p-0" style="height: 255px">
      <app-camis-map #camis_map></app-camis-map>
    </div>
  </div>
</div>
<div class="col-md-12" >
  <div class="card p-2">
    <div class="card-block p-0">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h1 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
              <i class="ti ti-user-dollar"></i>&nbsp;&nbsp;Investor Profile <span *ngIf="farm.status">({{farm.status.name}})</span>
            </button>
          </h1>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
               aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body p-1" *ngIf="farm.operator">
              <div class="row">
                <div class="col-md-3">
                  <div class="card p-2">
                    <div class="card-body p-0">
                      <img [src]="getPhotoSource()"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <table class="table mb-0">
                    <tbody>
                    <tr>
                      <td><label>Name:</label>&nbsp; {{ farm.operator.name }}</td>
                    </tr>
                    <tr>
                      <td><label>Investment
                        Origin:</label>&nbsp;{{ farm.operator.originId && opOrigin(farm.operator.originId) != null ? opOrigin(farm.operator.originId).name : null }}
                      </td>
                    </tr>
                    <tr>
                      <td><label>Owners {{ farm.operator.typeId == 1 ? 'Nationality' : 'Country of Origin' }}:</label>&nbsp;{{ farm.operator.nationality }}
                      </td>
                    </tr>
                    <tr>
                      <td><label>Ownership
                        Type:</label>&nbsp;{{ farm.operator.typeId && opType(farm.operator.typeId) != null ? opType(farm.operator.typeId).name : null }}
                      </td>
                    </tr>
                    <tr *ngIf="farm.operator.typeId == 1">
                      <td><label>Gender:</label>&nbsp; {{ parseGender(farm.operator.gender) }}</td>
                    </tr>
                    <tr *ngIf="farm.operator.typeId == 1">
                      <td><label>Martial Status:</label>&nbsp; {{ parseMartialStatus(farm.operator.martialStatus) }}
                      </td>
                    </tr>
                    <tr *ngIf="farm.operator.typeId == 1">
                      <td><label>Date of Birth:</label>&nbsp; {{ farm.operator.birthdate | date }}</td>
                    </tr>

                    <tr *ngIf="farm.operator.typeId == 6">
                      <td><label>Venture Owners:</label>&nbsp; <a
                        *ngFor="let farmOperatorId of farm.operator.ventures; index as i"
                        [href]="'/farm-management/fc/farm-operator/'+farmOperatorId" target="_blank"
                        rel="noopener"> <span
                        class="badge text-bg-info">Owners #{{ i + 1 }}</span></a></td>

                    </tr>
                    <tr>
                      <td><label>Owner's Capital:</label>&nbsp; {{ farm.operator.capital | currency:'Br ' }}</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                <div class="col-md-4">
                  <app-address-output [leafId]="farm.operator.addressId" [email]="farm.operator.email"
                                      [phone]="farm.operator.phone" [isDisplay]="true"></app-address-output>
                </div>

                <div class="col-md-12">
                  <table class="table mb-0">
                    <thead>
                    <tr>
                      <th><h5>Supportive License/Registrations Documents</h5></th>
                    </tr>
                    </thead>
                    <tbody *ngIf="farm.operator.registrations?.length>0">
                    <tr>
                      <td>
                        <div class="row">
                          <div class="col-md-4" *ngFor="let reg of farm.operator.registrations">
                            <div class="card total-income-card overflow-hidden  bg-danger-subtle p-2">
                              <div class="card-body p-0">
                                <div class="">
                                  <div class="ms-1">
                                    <h4 class=" f-w-600 mb-1">
                                      Owner's {{ regType(reg.typeId) !== null ? regType(reg.typeId).name : null }}</h4>

                                    <ul class="mb-0 opacity-75 text-sm">
                                      <li><label>
                                        Issuer:</label> {{ regAuth(reg.authorityId) != null ? regAuth(reg.authorityId).name : null }}
                                      </li>
                                      <li><label>Registration No:</label>{{ reg.registrationNumber }}
                                      </li>
                                    </ul>
                                    <div *ngIf="reg.document">
                                      <app-document-detail [document]="reg.document"></app-document-detail>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="farm.operator.registrations?.length===0">
                    <tr class="no-data">
                      <td>

                        <div class="align-center mt-5 ">
                          <i class="ti ti-exclamation-circle"></i>
                          <h1>Sorry!</h1>
                          <p>There is no Records Found</p>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h1 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo">
              <i class="ti ti-building-cottage"></i>&nbsp;&nbsp;Farm Information
            </button>
          </h1>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
               aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <table class="table mb-0">
                <tbody>
                <tr>
                  <td style="text-wrap: nowrap"><label>Primary Farm Type:</label></td>
                  <td style="text-wrap: nowrap">
                    {{ farm.typeId && frType(farm.typeId) != null ? frType(farm.typeId).name : null }}
                  </td>
                  <td><label>Invested Capital: </label> {{ farm.investedCapital |currency:'Br ' }}</td>
                </tr>
                <tr>
                  <td style="text-wrap: nowrap"><label>Other Farm Types:</label></td>
                  <td style="text-wrap: nowrap">
                    <ul *ngIf="farm.otherTypeIds && farm.otherTypeIds.length">
                      <li
                        *ngFor="let typeId of farm.otherTypeIds"><i
                        class="ti ti-square-rounded-check"></i> {{ frType(typeId) != null ? frType(typeId).name : null }}
                      </li>
                    </ul>
                  </td>
                  <td><label>Description:</label>
                    <p>{{ farm.description }}</p>
                  </td>
                </tr>
                </tbody>

              </table>
              <table class="table mb-0">
                <thead>
                <tr>
                  <th><h5>Farm Supportive Documents</h5></th>
                </tr>
                </thead>
                <tbody *ngIf="farm.registrations?.length>0">
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-4" *ngFor="let reg of farm.registrations">
                        <div class="card total-income-card overflow-hidden  bg-danger-subtle p-2">
                          <div class="card-body p-0">
                            <div class="">
                              <div class="ms-1">
                                <h4 class=" f-w-600 mb-1">
                                  Owner's {{ regType(reg.typeId) !== null ? regType(reg.typeId).name : null }}</h4>

                                <ul class="mb-0 opacity-75 text-sm">
                                  <li><label>
                                    Issuer:</label> {{ regAuth(reg.authorityId) != null ? regAuth(reg.authorityId).name : null }}
                                  </li>
                                  <li><label>Registration No:</label>{{ reg.registrationNumber }}
                                  </li>
                                </ul>
                                <div *ngIf="reg.document">
                                  <app-document-detail [document]="reg.document"></app-document-detail>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="farm.registrations?.length===0">
                <tr class="no-data">
                  <td>

                    <div class="align-center mt-5 ">
                      <i class="ti ti-exclamation-circle"></i>
                      <h1>Sorry!</h1>
                      <p>There is no Records Found</p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseThree">
              <i class="ti ti-fence"></i>&nbsp;&nbsp;Farm Parcel
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
               aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body p-2">
              <table class="table mb-0">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Parcel Info</th>
                  <th>Land Right</th>
                  <th>Lease Agreement</th>
                  <th>Land Certificate</th>
                  <th></th>
                </tr>
                </thead>
                <tbody *ngIf="farm && farmLands?.length>0">
                <tr *ngFor="let farmLand of farmLands; index as i ">
                  <td>{{i+1}}</td>
                  <td>
                    <table class="table" >
                      <tbody>
                      <tr><td><b>Upin: </b></td><td>{{farmLand.upin}}</td></tr>
                      <tr><td><b>Area: </b></td><td> {{farmLand.area}}</td></tr>
                      <tr><td><b>Centroid X: </b></td><td>{{farmLand.centroidX}}</td></tr>
                      <tr><td><b>Centroid Y: </b> </td><td> {{farmLand.centroidY}}</td></tr>

                      </tbody>

                    </table>
                  </td>
                  <td>
                    <div *ngIf="!farmLand.rights">No right Yet</div>
                    <table class="table" *ngIf="farmLand?.rights">
                      <tbody>
                        <tr><td><b>Right Type: </b></td><td>{{getRightType(farmLand.rights.rightType)}}</td></tr>
                        <tr><td><b>Right Date From: </b></td><td> {{keyCase.convertDate(farmLand.rights.rightFrom)}}</td></tr>
                        <tr><td><b>Right Date To: </b></td><td>{{keyCase.convertDate(farmLand.rights.rightTo)}}</td></tr>
                        <tr><td><b>Yearly Amount: </b> </td><td> {{farmLand.rights.yearlyRent| currency:"Br"}}</td></tr>
                        <tr><td><b>Status: </b></td><td>{{getFarmStatus(farmLand.rights.status)}}</td></tr>
                      </tbody>

                    </table>
                  </td>
                  <td>
                    <div *ngIf="!farmLand.rights.contractDocument">No lease contract, yet.</div>
                    <app-document-detail *ngIf="farmLand.rights.contractDocument"
                                         [document]="farmLand.rights.contractDocument"></app-document-detail>
                  </td>

                  <td><div *ngIf="!farmLand.rights.certificateDocument">No certificate, yet.</div>
                    <app-document-detail *ngIf="farmLand.rights.certificateDocument"
                                         [document]="farmLand.rights.certificateDocument"></app-document-detail></td>
                  <td class="align-right">
                    <a target="_blank" class="btn btn-custom-light btn-sm"
                       [href]="'/land-bank/parcel-details/' + farmLand.landId">
                      <i class="ti ti-map-pin"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="!farm.farmLands || farm.farmLands?.length===0">
                <tr class="no-data" id="no-data">
                  <td colspan="6">
                    <div class="align-center mt-5 ">
                      <i class="ti ti-exclamation-circle"></i>
                      <h1>Sorry!</h1>
                      <p>There is no parcel assigned</p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-md-12">
  <div class="card p-2">
    <div class="card-block p-0">
      <div class="row">
        <div [class]="plan && plan.documents && plan.documents.length?'col-md-9':'col-md-12'">
          <div class="card">
            <div class="card-header p-2">
              <h4><i class="ti ti-home-stats"></i>&nbsp;&nbsp;Buisness Plan & Activities</h4>
            </div>
            <div class="card-body p-1">
              <div *ngIf="plan && plan.rootActivity">
                <app-activity-progress
                  *ngIf="plan && plan.rootActivity && plan.rootActivity.id"
                  [activity]="plan.rootActivity"
                  (calc)="progressPercent = $event"
                ></app-activity-progress>
                <app-activities
                  *ngIf="plan && plan.rootActivity"
                  [activity]="plan.rootActivity"
                  [progressPercent]="progressPercent"
                  (change)="onRootActivityItemChange($event)"
                ></app-activities>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3" *ngIf="plan && plan.documents && plan.documents.length">
          <app-document-list
            *ngIf="plan && plan.documents && plan.documents.length"
            title=""
            [documents]="plan.documents"
          ></app-document-list>
        </div>
      </div>
    </div>
  </div>

</div>
