.password-toggle {
  cursor: pointer;
  position: absolute;
  right: 35px;
  margin-top: -30px;
  color: #6c757d;
}
.error-message{
  font-size: 0.775rem;
  color: red;
}
.error-message i{
  font-size:  0.775rem;
}
.card-footer p{

  font-size: 0.725rem;
}
