<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/camis_logo_2_3.png" alt="logo" style="height: 125px;"/>
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h3 class="text-secondary mt-2"><b>Hi, Welcome Back</b></h3>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          <div class="row">
            <form [formGroup]="loginForm" (submit)="login()">
              <div class="input-form mb-3 col-md-12">
                <label for="username">Username <span class="text-danger">*  </span> </label>
                <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username"
                       [(ngModel)]="user.username"/>
              </div>
              <div class="input-form mb-3 col-md-12">
                <label for="password">Password <span class="text-danger">* </span></label>
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                       placeholder="Password" formControlName="password" [(ngModel)]="user.password"/>
                <span class="password-toggle" id="button-addon" (click)="togglePasswordVisibility()">
                  <i [class]="showPassword ? 'ti ti-eye-x' : 'ti ti-eye'"></i>
                </span>


              </div>
              <div class="input-group mb-3  col-md-12" *ngIf="ROLES?.length>1">
                <select class="form-select" id="role" [(ngModel)]="selectedRole" formControlName="role">
                  <option value="">Select Role</option>
                  <option *ngFor="let role of ROLES" [value]="role.id">{{ role.name }}</option>
                </select>
                <button type="button" (click)="closeForm()" [disabled]="!loginForm.valid" id="button-addon2"
                        class="btn btn-secondary">Confirm
                </button>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" (click)="login()" class="btn btn-secondary"
                        [disabled]="!(loginForm.valid && ROLES?.length<=0)">Sign In
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <p>Commercial Agriculture Management Information System</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contribitors">
  <div class="contribitor-list">

    <p class="d-flex justify-content-center mb-5">
      <a href="" target="_blank">
        <img src="assets/images/GIZ-logo.png" alt="giz"/>
      </a>
    </p>

    <p class="d-flex justify-content-center mb-5">
      <a href="" target="_blank">
        <img src="assets/images/eu-logo.png" alt="giz"/>
      </a>
    </p>
    <p class="d-flex justify-content-center mb-5">
      <a href="" target="_blank">
        <img src="assets/images/horticulture.png" alt="giz"/>
      </a>
    </p>
  </div>
</div>
