<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-4">
            <h5><i class="ti ti-users"></i> User Management</h5>
          </div>
          <div class="col-md-5 pb-0">
            <div class="input-group mb-0">
               <span class="input-group-text" >
                  <i class="ti ti-user-search"></i>
                </span>
              <input #searchInput type="text" class="form-control" placeholder="Search user for..."
                     (input)="filterUsers(searchInput.value)"/>
            </div>
          </div>
          <div class="col-md-3" style="text-align: right">
            <button class="btn-success btn-sm btn align-right" (click)="addBtnClick()"><i class="ti ti-user-plus "></i>
              Register New User
            </button>

          </div>
        </div>
      </div>
      <div class="card-block p-0" style="min-height: calc(65vh)">
        <div class="table-responsive">
          <table id="datatable" class="table">
            <thead>
            <tr class="headings">
              <th>
                #
              </th>
              <th class="column-title">Full Name</th>
              <th class="column-title">Username</th>
              <th class="column-title">Role</th>
              <th class="column-title">Mobile No</th>
              <th class="column-title">Email</th>
              <th class="column-title">Register On</th>
              <th class="column-title">Status</th>
              <th class="column-title">Last Seen</th>
              <th class="align-center"><span class="nobr">Action</span>
              </th>
            </tr>
            </thead>

            <tbody *ngIf="pagedItems?.length>0">
            <tr class="even pointer" *ngFor="let user of pagedItems;index as i">
              <td class="a-center ">
                {{(pager.currentPage - 1) * pager.pageSize + i + 1}}
              </td>
              <td class=" ">{{ user.fullName }}</td>
              <td class=" ">{{ user.userName }}</td>
              <td class=" "><span *ngFor="let role of user.roles">{{ role.name }}<br/></span></td>
              <td class=" ">{{ user.phoneNo }}</td>
              <td class=" ">{{ user.email }}</td>
              <td class=" ">{{ user.regOn }}</td>
              <td class="a-right a-right ">{{ user.status == 1 ? "Active" : "Inactive" }}</td>
              <td class="">{{ user.lastSeen }}</td>
              <td class=" last align-center">
                <div class='btn-group' style='display: flex;'>
                  <button class='btn btn-success btn-sm editButton' data-toggle='tooltip' title='Edit'  [disabled]="!isRegisterShowed && isEdit" (click)="showEditForm(user)">
                    <span class='ti ti-edit'> </span></button>
                  <button class='btn btn-info btn-sm' data-toggle='tooltip' title='Reset Password' (click)="resetPass(user)"><span class='ti ti-lock-pause'> </span></button>
                  <button class='btn btn-warning btn-sm' data-toggle='tooltip' title='Deactivate User'
                          *ngIf="user.status==1" (click)="deactivateUser(user)"><span class='ti ti-user-cancel'> </span>
                  </button>
                  <button class="btn btn-sm btn-success btn-sm" data-toggle='tooltip' title='Activate User'
                          *ngIf="user.status==0" (click)="activateUser(user)"><i class="ti ti-user-check"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="pagedItems?.length==0">
              <tr>
                <td colspan="10">

                  <div class="justify-content-center mt-5 no-data">
                    <i class="ti ti-exclamation-circle"></i>
                    <h4>Sorry!</h4>
                    <p>There is no recored found, please try later</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer pb-0">
        <div class="justify-content-end">
          <nav aria-label="..." *ngIf="pager.pages && pager.pages.length">
            <ul class="pagination justify-content-end">
              <li class="page-item" [class.disabled]="pager.currentPage === 1">
                <a class="page-link" href="javascript:" tabindex="-1" (click)="setPage(1)"><i class="ti ti-chevron-left-pipe"></i></a>
              </li>
              <li class="page-item" [class.disabled]="pager.currentPage === 1">
                <a class="page-link" href="javascript:" (click)="setPage(pager.currentPage - 1)"><i class="ti ti-chevron-left"></i></a>
              </li>
              <li *ngFor="let page of pager.pages" class="page-item"><a class="page-link"  [class.active]="pager.currentPage === page" href="javascript:" (click)="setPage(page)">{{page}}</a></li>
              <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
                <a class="page-link" href="javascript:" (click)="setPage(pager.currentPage + 1)"><i class="ti ti-chevron-compact-right"></i></a>
              </li>
              <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
                <a class="page-link" href="javascript:" (click)="setPage(pager.totalPages)"><i class="ti ti-chevron-right-pipe"></i><i
                  class="fa  fa-arrows-v"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Register User Modal -->
<div class="modal fade" [class.show]="isRegisterShowed" [style.display]="isRegisterShowed ? 'block' : 'none'"
     id="registerUserModal" tabindex="-1" aria-labelledby="registerUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerUserModalLabel">
          {{ isEdit ? 'Edit User' : 'Register New User' }}
        </h5>
        <button type="button" class="btn-close" (click)="closeForm(true)" aria-label="Close"></button>
      </div>
        <!-- Register User Component -->
        <app-register-user
          *ngIf="isRegisterShowed" (reload)="reloadPage($event)"
          [isEditMode]="isEdit"
          [userData]="selectedUser"
          (closeEditForm)="closeForm($event)">
        </app-register-user>
    </div>
  </div>
</div>

<div class="modal fade" [class.show]="isResetPass" [style.display]="isResetPass ? 'block' : 'none'"
     id="resetPassModal" tabindex="-1" aria-labelledby="resetPassModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPassModalLabel">
        Reset "{{selectedUser?.fullName}}" Password
        </h5>
        <button type="button" class="btn-close" (click)="closeForm(true)" aria-label="Close"></button>
      </div>
        <app-reset-pass *ngIf="isResetPass" [userModel]="selectedUser" (reload)="reloadPage($event)" (closeResetPassForm)="closeForm($event)"></app-reset-pass>
    </div>
  </div>
</div>

<!-- Backdrop -->
<div class="modal-backdrop fade show" *ngIf="isRegisterShowed || isResetPass" (click)="closeForm(true)"></div>
