<div class="tab-pane board map-search">
  <div class="x_panel">
    <div class="x_title">
      <h2>
        <i class="fa fa-map-marker">
          Map
        </i>
      </h2>

      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      
      <div id="map_preview" class="landBank_map_preview">
          <app-camis-map></app-camis-map>
        </div>
        <div class="map-footer col-md-12">
          <div class="col-md-6" id="location">
            <div class="custom-mouse-position">&nbsp;</div>
          </div>
          <div class="col-md-6" id="scale">
          </div>
        </div>
    </div>
</div>



