<div class="row">
  <div class="col-sm-12">
    <div class="card p-1">
      <div class="card-header p-2">
        <div class="row">
          <div class="col-md-4">
            <h5><i class="ti ti-database-cog"></i>&nbsp;&nbsp;System Configuration</h5>
          </div>
        </div>
      </div>
      <div class="card-body" style="min-height: calc(65vh)">
        <div class="table-responsive">
          <table id="datatable" class="table">
            <thead>
            <tr class="headings">
              <th>
                #
              </th>
              <th class="column-title">Config Name</th>
              <th class="column-title">Config Value</th>
              <th class="align-center"><span class="nobr">Action</span>
              </th>
            </tr>
            </thead>

            <tbody *ngIf="pagedItems?.length>0">
            <tr class="even pointer" *ngFor="let config of pagedItems;index as i">
              <td class="a-center ">
                {{ (pager.currentPage - 1) * pager.pageSize + i + 1 }}
              </td>
              <td class=" ">{{ config.name }}</td>
              <td class=" ">
                <span>{{ config.value }}</span>
              </td>

              <td class=" last align-right" [class.w-50]="showEditor">
                <button type="button" class="btn btn-sm btn-custom-light" *ngIf="!showEditor" (click)="selectEdit(config)"><i class="ti ti-edit"></i>
                </button>
                <div class="input-group mb-0 align-right" *ngIf="showEditor && selectedConfig && selectedConfig.id===config.id">

                  <input [(ngModel)]="value" type="text" class="form-control" />
                  <button class="btn btn-custom" (click)="saveConfiguration()" type="button">Save</button><span class="ps-1"></span>
                  <button class="btn btn-warning" (click)="cancelEditing()" type="button" >Cancel</button>

                </div>

              </td>
            </tr>
            </tbody>
            <tbody *ngIf="pagedItems?.length==0">
            <tr>
              <td colspan="4">

                <div class="justify-content-center mt-5 no-data">
                  <i class="ti ti-exclamation-circle"></i>
                  <h4>Sorry!</h4>
                  <p>There is no recored found, please try later</p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer p-2">
        <div class="justify-content-end">
          <nav aria-label="..." *ngIf="pager.pages && pager.pages.length">
            <ul class="pagination justify-content-end m-0">
              <li class="page-item" [class.disabled]="pager.currentPage === 1">
                <a class="page-link" href="javascript:" tabindex="-1" (click)="setPage(1)"><i
                  class="ti ti-chevron-left-pipe"></i></a>
              </li>
              <li class="page-item" [class.disabled]="pager.currentPage === 1">
                <a class="page-link" href="javascript:" (click)="setPage(pager.currentPage - 1)"><i
                  class="ti ti-chevron-left"></i></a>
              </li>
              <li *ngFor="let page of pager.pages" class="page-item"><a class="page-link"
                                                                        [class.active]="pager.currentPage === page"
                                                                        href="javascript:"
                                                                        (click)="setPage(page)">{{ page }}</a></li>
              <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
                <a class="page-link" href="javascript:" (click)="setPage(pager.currentPage + 1)"><i
                  class="ti ti-chevron-compact-right"></i></a>
              </li>
              <li class="page-item" [class.disabled]="pager.currentPage === pager.totalPages">
                <a class="page-link" href="javascript:" (click)="setPage(pager.totalPages)"><i
                  class="ti ti-chevron-right-pipe"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


