<div class="row">
  <div class="col-sm-12">
    <div class="card p-1">
      <div class="card-header p-2">
        <div class="row">
          <div class="col-md-12">
            <h5><i class="ti ti-bookmark-edit"></i> Update Project Plan</h5>
          </div>

        </div>
      </div>
      <div class="card-block p-1" style="min-height: calc(65vh)">
        <form method="post" (submit)="dumpSubmit($event)">
          <div *ngIf="loading">Loading...</div>
          <div [id]="'farm-reg-panel'" *ngIf="!loading">
            <app-fc-project-detail-registration [plan]="plan"></app-fc-project-detail-registration>
            <hr>

            <app-document-selector
              title="Business Plan Documents"
              [documents]="plan.documents"
            ></app-document-selector>

            <hr>
            <div style="text-align: right">
              <button type="button" class="btn btn-secondary" (click)="cancel()">
                Cancel
              </button>
              <button (click)="onSubmit($event)" type="button" class="btn btn-primary" [disabled]="!plan.statusId || !plan.note || !plan.rootActivity">
                Submit for Approval
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
