<section id="banner">
    <div class="inner">
        <h1>WELCOME TO CAMIS</h1>
        <p>Ethiopian Comercial Agricultural Investment Commission</p>

        <ul class="actions">
            <li> <a routerLink="/default/register" class="button big special">Register</a></li>
            <li><a routerLink="/default/login"  class="button big alt">Login</a></li>
        </ul>
    </div>
    <ul class="home-social">
        <li>
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i><span>Facebook</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i><span>Twiiter</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-behance-square" aria-hidden="true"></i><span>Behance</span></a>
        </li>

    </ul>
</section>
<section class="content-body">
    <div class="mission col-md-9">
        <div class="col-md-4">
            <section class="special box">
                <i class="icon fa fa-cube major"></i>
                <h3>Mission</h3>
                <p>A maintenance and service agreement ought to be entered into simultaneously with this Agreement. If such agreement is not entered into simultaneously with this Agreement, the Contractor shall for a period of one (1) years from the expiry of the approval period be obliged to enter into such an agreement if desired by the Customer</p>
            </section>
        </div>
        <div class="col-md-4">
            <section class="special box">
                <i class="icon fa fa-eye major"></i>
                <h3>Vision</h3>
                <p>A maintenance and service agreement ought to be entered into simultaneously with this Agreement. If such agreement is not entered into simultaneously with this Agreement, the Contractor shall for a period of one (1) years from the expiry of the approval period be obliged to enter into such an agreement if desired by the Customer</p>
            </section>
        </div>
        <div class="col-md-4">
            <section class="special box">
                <i class="icon fa  fa-trophy major"></i>
                <h3>Value</h3>
                <p>A maintenance and service agreement ought to be entered into simultaneously with this Agreement. If such agreement is not entered into simultaneously with this Agreement, the Contractor shall for a period of one (1) years from the expiry of the approval period be obliged to enter into such an agreement if desired by the Customer</p>
            </section>
        </div>
    </div>
    <div class="notification col-md-3">
        <section class="panel">
            <div class="x_title">
                <h4><span class="icon fa fa-bell-o"></span>  Notification</h4>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <li>
                        <p><strong>Investiment Bid</strong></p>
                        <small>The bid will relased on september 01/2019</small>
                        <div class="learn-more align-right">
                            <a href="#">Read More...</a>
                        </div>
                    </li>
                    <li>
                        <p><strong>Investiment Bid</strong></p>
                        <small>The bid will relased on september 01/2019</small>
                        <div class="learn-more align-right">
                            <a href="#">Read More...</a>
                        </div>
                    </li>
                    <li>
                        <p><strong>Investiment Bid</strong></p>
                        <small>The bid will relased on september 01/2019</small>
                        <div class="learn-more align-right">
                            <a href="#">Read More...</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="panel">
            <div class="x_title">
                <h4><span class="icon fa fa-file-text-o"></span>  News</h4>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <li>
                        <p><strong>Investiment Bid</strong></p>
                        <small>The bid will relased on september 01/2019</small>
                        <div class="learn-more align-right">
                            <a href="#">Read More...</a>
                        </div>
                    </li>
                    <li>
                        <p><strong>Investiment Bid</strong></p>
                        <small>The bid will relased on september 01/2019</small>
                        <div class="learn-more align-right">
                            <a href="#">Read More...</a>
                        </div>
                    </li>
                    <li>
                        <p><strong>Investiment Bid</strong></p>
                        <small>The bid will relased on september 01/2019</small>
                        <div class="learn-more align-right">
                            <a href="#">Read More...</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>

<div class="partners">
    <h3>Our Partners</h3>
    <ul class="nav">
        <li><img class="image" src="images/GIZ-logo.png" /></li>
        <li><img class="image" src="images/ata-logo.png" /></li>
        <li><img class="image" src="images/horticulture.png" /></li>
    </ul>

</div>