#accordionPanelsStayOpenExample{

}
.accordion-item{
  background-color: #fff;
}
.accordion-body{
  padding: 0;
  font-size: 0.775rem;
}
.accordion-body label{
  font-size: 0.800rem;
  font-weight: 600;
}
.accordion-body ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.accordion-body ul li{
  padding:3px 0 3px;
}
.accordion-body ul li i{
  color: rgba(135,135,11,0.25);
  font-size: 1rem;
}
