<div class="row">
  <div class="col-sm-12">
    <div class="card p-1">
      <div class="card-header p-2">
        <div class="row">
          <div class="col-md-4">
            <h5><i class="ti ti-building-cottage"></i> Search Farms & Owners</h5>
          </div>
          <div class="col-md-5 pb-0">
            <div class="input-group mb-0">
               <span class="input-group-text">
                  <i class="ti ti-search"></i>
                </span>
              <input [(ngModel)]="term" (keyup)="load(0)" class="form-control " type="search" name="search"
                     placeholder="Search" title="Search">
            </div>
          </div>
          <div class="col-md-3" style="text-align: right">

          </div>
        </div>
      </div>
      <div class="card-block p-1 mb-0" style="min-height: calc(65vh - 10px)">

        <div class="table-responsive" >
          <table id="datatable" class="table table-striped mb-0" >

            <thead>
            <tr class="headings">
              <th>
                #
              </th>
              <th>Owner Name</th>
              <th>
                <select class="form-select-sm w-75 p-1" [(ngModel)]="searchParm.ownerType" (change)="load(0)" style="font-size: 9pt">
                  <option value="0">All Owner Type</option>
                  <option *ngFor="let x of ownerTypes" [value]="x.id">{{ x.name }}</option>
                </select>
              </th>
              <th>
                <select class="form-select-sm w-75 p-1" [(ngModel)]="searchParm.farmType" (change)="load(0)" style="font-size: 9pt">
                  <option value="0">All Owner Type</option>
                  <option *ngFor="let x of farmTypes" [value]="x.id">{{ x.name }}</option>
                </select>
              </th>
              <th>Invested_Capital</th>
              <th style="width: 20%">Description</th>
              <th> <select class="form-select-sm w-75 p-1" [(ngModel)]="searchParm.farmStatus" (change)="load(0)" style="font-size: 9pt;">
                <option value="0">All Status</option>
                <option *ngFor="let x of farmStatusTypes" [value]="x.id">{{ x.name }}</option>
              </select></th>
              <th class="align-center">
                <span class="nobr">Action</span>
              </th>
            </tr>
            </thead>

            <tbody style="font-size: 0.775rem" *ngIf="farms?.length>0">
            <tr class="even pointer" *ngFor="let farm of farms; index as i">
              <td class="a-center ">
                {{ i+1 }}
              </td>
              <td>
                <label [for]="'farm-open-btn-' + farm.id">{{ farm.operator ? farm.operator.name : null }}</label>
              </td>
              <td>
                <label
                  [for]="'farm-open-btn-' + farm.id">{{ farm.operator ? farm.operator.type ? farm.operator.type.name : null : null }}</label>
              </td>
              <td>
                <label [for]="'farm-open-btn-' + farm.id">{{ farm.type ? farm.type.name : null }}</label>
              </td>
              <td class="align-right">
                <label [for]="'farm-open-btn-' + farm.id">{{ farm.investedCapital | currency:'Br ':'code'}}</label>
              </td>
              <td>
                <label [for]="'farm-open-btn-' + farm.id">{{ farm.description }}</label>
              </td>
              <td>
                <label [for]="'farm-open-btn-' + farm.id">{{ farm.status.name }}</label>
              </td>
              <td class="text-nowrap">
                <button [id]="'farm-open-btn-' + farm.id" class="btn btn-sm btn-custom-light" title="Detail"
                        (click)="openDetail(farm.id)">
                  <i class="ti ti-eye"></i>
                </button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="farms?.length==0">
            <tr class="no-data">
              <td colspan="8">

                <div class="align-center mt-4 ">
                  <i class="ti ti-exclamation-circle"></i>
                  <h1>Sorry!</h1>
                  <p>There is no Records Found</p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer p-1">
        <div class="row">
          <div class="col-md-6">
            <small class="title text-success" *ngIf="!loading">Showing {{ farms.length }}
              of {{ totalFarms }} {{ term ? 'search result' : 'registered farm' }}{{ farms.length == 1 ? '' : 's' }}{{ term ? (' found for "' + term + '"') : null }}
              .
            </small>
          </div>
          <div class="col-md-6">
            <div class="text-left" *ngIf="!loading">
              <button type="button" class="btn btn-custom-light" (click)="load()">Load More...</button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
