<div id="user" class="tab-pane board">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-plus-circle"></i>&nbsp; Commercial Farm Registration</h2>
      <ul class="nav navbar-right panel_toolbox">
        <div class="btn-group" *ngIf="step">
          <button class="btn btn-default" type="button" (click)="onSave()">
            <i class="fa fa-save"></i>&nbsp; Save Changes
          </button>
        </div>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content" id="farm-regitration">
      <form method="post" (submit)="dumpSubmit($event)">
        <!-- STEP 1 -->
        <div class="panel panel-default" [id]="'farm-reg-panel'" *ngIf="step == 1">
          <div class="panel-heading panel-title">Step 1 of 4: Start</div>

          <div class="panel-body">
            <div class="col-md-offset-4 col-md-4">
              <h5>How would you like to proceed?</h5>
              <div style="padding: 15px 0 0">
                <input type="radio" id="new-operator" (click)="howOperator = 'NEW'; step = 2" [checked]="howOperator === 'NEW'" class="radio-inline" style="vertical-align: top">
                <label for="new-operator" class="control-label" style="vertical-align: top; font-size: 110%">Register New Farm Owner</label>
              </div>
              <div style="padding: 15px 0 0">
                <input type="radio" id="existing-operator" (click)="howOperator = 'EXISTING'; step = 2" [checked]="howOperator === 'EXISTING'" class="radio-inline" style="vertical-align: top">
                <label for="existing-operator" class="control-label" style="vertical-align: top; font-size: 110%">Select from Registered Farm Owners</label>
              </div>
            </div>
          </div>

          <div class="panel-footer align-right">
            <button type="button" class="btn btn-default" (click)="cancel()">
              <span *ngIf="workflowId"><i class="fa fa-warning"></i>&nbsp;</span> Cancel
            </button>
            <button type="button" class="btn btn-success " (click)="step = 2" [disabled]="!howOperator">
              Continue <i class="fa fa-arrow-right"></i>
            </button>

          </div>
        </div>

        <!-- STEP 2 (FOR NEW) -->
        <div class="panel panel-default" [id]="'farm-reg-panel'" *ngIf="step == 2 && howOperator == 'NEW'">
          <div class="panel-heading panel-title">Step 2 of 4: Register New Farm Owner</div>

          <div class="panel-body has-scroll">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="op-name">Name: *</label>
                <input [(ngModel)]="opName" type="text" name="op-name" id="op-name" class="form-control" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="op-nationality">{{opType == '1' ? 'Nationality' : 'Country of Origin'}}: *</label>
                <input [(ngModel)]="opNationality" type="text" name="op-nationality" id="op-nationality" class="form-control" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="op-type">Owner Type: *</label>
                <select [(ngModel)]="opType" name="op-type" id="op-type" class="form-control" required>
                  <option *ngFor="let type of farmOperatorTypes" [value]="type.id">{{type.name}}</option>
                </select>
              </div>

              <div class="form-group" *ngIf="opType == 1">
                <label class="control-label" for="op-gender">Gender: *</label>
                <select [(ngModel)]="opGender" name="op-gender" id="op-gender" class="form-control" required>
                  <option value="F">Female</option>
                  <option value="M">Male</option>
                </select>
              </div>
              <div class="form-group" *ngIf="opType == 1">
                <label class="control-label" for="op-martial-status">Martial Status: *</label>
                <select [(ngModel)]="opMartialStatus" name="op-martial-status" id="op-martial-status" class="form-control" required>
                  <option [value]="1">Not Married</option>
                  <option [value]="2">Married</option>
                  <option [value]="3">Divorced</option>
                  <option [value]="4">Widowed</option>
                </select>
              </div>
              <div class="form-group" *ngIf="opType == 1">
                <label class="control-label" for="op-birthdate">Birthdate: *</label>
                <input [(ngModel)]="opBirthdate" type="date" name="op-birthdate" id="op-birthdate" class="form-control" required>
              </div>

              <div class="form-group" *ngIf="opType == 6">
                <label class="control-label" for="op-venture-search">Ventures: *</label>
                <div *ngIf="opVentures.length">
                  <div class="text-muted">Selected:</div>
                  <div *ngFor="let farmOperatorId of opVentures; index as i" style="padding: 5px 5px 5px 15px">
                    <a
                      [href]="'/clerk/farm-operator/' + farmOperatorId"
                      target="_blank"
                      rel="noopener"
                    >Owner #{{i + 1}} (click to view)</a>

                    <button type="button" (click)="removeFromVentures(farmOperatorId)" class="btn btn-xs btn-circle">
                      <i class="fa fa-remove"></i>
                    </button>
                  </div>
                </div>
                <div class="panel panel-body panel-default" style="margin-top: 5px">
                  <input
                    (keyup)="searchVentures($event.target.value)"
                    (change)="searchVentures($event.target.value)"
                    (blur)="searchVentures($event.target.value)"
                    type="search"
                    name="op-venture-search"
                    id="op-venture-search"
                    class="form-control"
                    style="flex-grow: 1"
                    placeholder="Search"
                  >
                  <div style="padding-top: 5px">
                    <select
                      [(ngModel)]="opVentureResultSelections"
                      type="search"
                      name="op-venture-results"
                      id="op-venture-results"
                      class="form-control"
                      multiple
                    >
                      <option *ngFor="let result of opVentureResults" [value]="result.id">{{result.name}}</option>
                    </select>
                    <div style="text-align: right; padding-top: 5px">
                      <button type="button" (click)="addVentures()" class="btn btn-default btn-sm" style="margin-right: 0">
                        <i class="fa fa-plus"></i> Add Selected
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="op-origin">Owner Origin: *</label>
                <select [(ngModel)]="opOriginId" name="op-origin" id="op-origin" class="form-control" required>
                  <option *ngFor="let origin of farmOperatorOrigins" [value]="origin.id">{{origin.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="op-capital">Capital:</label>
                <input [(ngModel)]="opCapital" type="number" name="op-capital" id="op-capital" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="op-email">Email:</label>
                <input [(ngModel)]="opEmail" type="email" name="op-email" id="op-email" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="op-phone">Phone:</label>
                <input [(ngModel)]="opPhone" type="tel" name="op-phone" id="op-phone" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">
                  Address: *
                  <span *ngIf="!opAddress" class="fa fa-warning text-warning"></span>
                  <span *ngIf="opAddress" class="fa fa-check-circle-o text-success"></span>
                </label>
                <app-address-selector [finalAddressId]="opAddress" (onChange)="opAddress = $event">
                </app-address-selector>
              </div>
            </div>

            <div>
              <app-authority-registrar
                title="Supporting/License/Registration Documents"
                [registrations]="opRegistrations"
                [registrationTypes]="registrationTypes"
                [registrationAuthorities]="registrationAuthorities"
                (change)="$event.registrations && (opRegistrations = $event.registrations)"
              ></app-authority-registrar>
            </div>
          </div>

          <div class="panel-footer align-right">
            <button type="button" class="btn btn-default" (click)="step = 1">
              <i class="fa fa-arrow-left"></i> Back
            </button>
            <button type="button" class="btn btn-success " (click)="step = 3" [disabled]="!opName || !opNationality || !opType || !opAddress">
              Continue <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>

        <!-- STEP 2 (FOR EXISTING) -->
        <div class="panel panel-default" [id]="'farm-reg-panel'" *ngIf="step == 2 && howOperator == 'EXISTING'">
          <div class="panel-heading panel-title">Step 2 of 4: Select from Registered Farm Owners</div>

          <div class="panel-body has-scroll">
            <div class="input-group" style="width: 100%">
              <input [(ngModel)]="operatorTerm" (keyup)="loadOperators(0)" class="form-control btn-round" type="search" name="operatorSearch" placeholder="Search" title="Search">
              <span class="input-group-btn">
                    <button class="btn btn-round btn-default" type="button" (click)="loadOperators(0)">
                        <i class="fa fa-search"></i>&nbsp;
                    </button>
                </span>
            </div>

            <hr>

            <div *ngIf="searching" class="align-center"><h2>Searching...</h2></div>
            <div *ngIf="!searching && !operators.length" class="align-center">
              <h2><i class="fa fa-exclamation-circle"></i></h2>
              <p>{{operatorTerm ? ('No search results found for "' + operatorTerm + '".') : 'No registered farm operators, yet.'}}</p>
            </div>
            <div *ngIf="!searching && operators.length">
              <table class="table table-striped table-bordered jambo_table bulk_action">
                <caption class="title text-success">Showing {{operators.length}} of {{totalOperators}} {{operatorTerm ? 'search result' : 'registered farm operator'}}{{operators.length == 1 ? '' : 's'}}{{operatorTerm ? (' found for "' + operatorTerm + '"') : null}}.</caption>
                <thead>
                <tr>
                  <th>
                  </th>
                  <th>Name</th>
                  <th>Nationality</th>
                  <th>Type</th>
                  <th>Email</th>
                  <th>Phone</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let operator of operators">
                  <td>
                    <input [(ngModel)]="selectedOperatorId" (change)="step = 3" [value]="operator.id" [id]="'operator-result-' + operator.id" class="radio-inline" type="radio" name="operatorsRadio" title="Select Row">
                  </td>
                  <td>
                    <label [for]="'operator-result-' + operator.id">{{operator.name}}</label>
                  </td>
                  <td>
                    <label [for]="'operator-result-' + operator.id">{{operator.nationality}}</label>
                  </td>
                  <td>
                    <label [for]="'operator-result-' + operator.id">{{operator.type.name}}</label>
                  </td>
                  <td>
                    <label [for]="'operator-result-' + operator.id">{{operator.email}}</label>
                  </td>
                  <td>
                    <label [for]="'operator-result-' + operator.id">{{operator.phone}}</label>
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="align-center" *ngIf="totalOperators > operators.length">
                <button type="button" class="btn btn-default" (click)="loadOperators()">Load More...</button>
              </div>
            </div>
          </div>

          <div class="panel-footer align-right">
            <button type="button" class="btn btn-default" (click)="step = 1">
              <i class="fa fa-arrow-left"></i> Back
            </button>
            <button type="button" class="btn btn-success" (click)="step = 3" [disabled]="!selectedOperatorId">
              Continue <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>

        <!-- STEP 3 -->
        <div class="panel panel-default" [id]="'farm-reg-panel'" *ngIf="step == 3">
          <div class="panel-heading panel-title">Step 3 of 4: Commercial Farm Details</div>

          <div class="panel-body has-scroll">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="fr-type">Primary Farm Type: *</label>
                <select [(ngModel)]="frType" name="fr-type" id="fr-type" class="form-control" required>
                  <option *ngFor="let type of farmTypes" [value]="type.id">{{type.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="fr-other-types">Other Farm Types:</label>
                <select [(ngModel)]="frOtherTypeIds" name="fr-other-types" id="fr-other-types" class="form-control" multiple>
                  <option *ngFor="let type of farmTypes" [value]="type.id">
                    {{type.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="fr-invested-capital">Invested Capital: </label>
                <input [(ngModel)]="frInvestedCapital" type="number" name="fr-invested-capital" id="fr-invested-capital" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="fr-description">Description: </label>
                <textarea [(ngModel)]="frDescription" type="number" name="fr-description" id="fr-description" class="form-control"></textarea>
              </div>
            </div>

            <div>
              <app-authority-registrar
                title="Farm Registrations"
                [registrations]="frRegistrations"
                [registrationTypes]="registrationTypes"
                [registrationAuthorities]="registrationAuthorities"
                (change)="$event.registrations && (frRegistrations = $event.registrations)"
              ></app-authority-registrar>
            </div>
          </div>

          <div class="panel-footer align-right">
            <button type="button" class="btn btn-default" (click)="step = 2">
              <i class="fa fa-arrow-left"></i> Back
            </button>
            <button type="button" class="btn btn-success" (click)="step = 4" [disabled]="!frType">
              Continue  <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>

        <!-- STEP 4 -->
        <div class="panel panel-default" [id]="'farm-reg-panel'" *ngIf="step == 4">
          <div class="panel-heading panel-title">Step 4 of 4: Business Plan</div>

          <div class="panel-body has-scroll">
            <app-fc-project-detail-registration [plan]="plan"></app-fc-project-detail-registration>
            <hr>

            <app-document-selector
              title="Business Plan Documents"
              [documents]="plan.documents"
            ></app-document-selector>
          </div>

          <div class="panel-footer align-right">
            <button type="button" class="btn btn-default " (click)="step = 3">
              <i class="fa fa-arrow-left"></i> Back
            </button>
            <button (click)="onSubmit($event)" type="button" class="btn btn-success" [disabled]="!plan.statusId || !plan.note || !plan.rootActivity">
              Submit for Approval <i class="fa fa-send"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
