<nav class="">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a [routerLink]="['/default/']" class="b-brand">
        @if (themeMode === 'compact') {
          <img src="assets/images/camis_logo_txt.png" alt="small-menu-logo" class="logo logo-sm" style="max-width: 100%"/>
        } @else {
          <img src="assets/images/camis_logo_txt.png" alt="logo" class="logo logo-lg" style="max-width: 100%"/>
        }
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" (SubmenuCollapse)="navSubmenuCollapse()" class="scroll-div w-100 compact" />
  </div>
</nav>
