<div class="card m-0 p-0" *ngIf="documents">
  <div class="card-header p-3">
    <h5>{{ title }}</h5>
  </div>
  <div class="card-body p-0">
    <table class="table">
      <thead>
      <tr>
        <td>#</td>
        <td>File *</td>
        <td>Ref. *</td>
        <td>Date *</td>
        <td class="align-right">Actions</td>
      </tr>
      </thead>
      <tbody *ngIf="documents.length > 0">
      <tr *ngFor="let doc of documents; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ doc.filename }}</td>
        <td>{{ doc.ref }}</td>
        <td>{{ doc.date | date }}</td>
        <td class="align-right">
          <button type="button" (click)="removeDoc(i)" class="btn btn-outline-warning btn-sm"><i
            class="ti ti-trash"></i></button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <div class="upload-section" *ngIf="max > documents.length">
            <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>File: </label>
                <input id="fileInput" [(ngModel)]="add_file" (change)="readFile($event)" type="file"
                       placeholder="Browse file..."
                       class="form-control">
              </div>

            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Ref. </label>
                <input [(ngModel)]="add_ref" type="text" placeholder="Ref. *" class="form-control">

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Date: </label>
                <input [(ngModel)]="add_date" type="date" placeholder="Date *" class="form-control">

              </div>
            </div>
            <div class="col-sm-12">
              <div style="padding-bottom: 10px;float: right;">
                <button (click)="addDocument()" class="btn btn-primary btn-sm"
                        [disabled]="!add_file || !add_ref || !add_date">
                  Add Document
                </button>
              </div>
              <div style="float: left;">
                <button type="button" class="btn btn-outline-warning btn-sm" (click)="clear()">Clear values</button>
              </div>
            </div>
            </div>
          </div>
        </td>
      </tr>

      </tfoot>
    </table>

  </div>
</div>

