<div *ngIf="document">
  <table class="table mb-0">
    <tbody>
    <tr>
      <td id="doc-icon">
        <a (click)="openDoc($event, document)" [href]="getLink(document)" target="_blank">
          <i class="ti ti-file-type-{{getFileExtension(document.filename)}}"></i>
        </a>

      </td>
      <td id="doc-ref">
        <a (click)="openDoc($event, document)" [href]="getLink(document)" target="_blank">
          {{document.filename || 'Open Document'}}
        </a>
        <ul class="mb-0 ps-1">
          <li> <i class="ti ti-checkbox"></i> &nbsp; <span><b>Ref.: </b>&nbsp; {{document.ref}}</span></li>
          <li><i class="ti ti-checkbox"></i> &nbsp; <span><b>Date: </b>&nbsp; {{document.date | date}}</span></li>
          <li><i class="ti ti-checkbox"></i> &nbsp; <span><b>Note: </b>&nbsp; {{document.note || '[n/a]'}}</span></li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>

