<div *ngIf="activity">

  <div class="item" [title]="activity.description">
    <a class="name" [href]="'#detailDialog' + localId" role="button" type="button" data-toggle="modal">{{activity.name}}</a>

    <a *ngIf="!readonly && !isRoot" [href]="'#deleteDialog' + localId" role="button" data-toggle="modal" type="button" title="Delete activity."><i class="fa fa-trash"></i></a>
    <a *ngIf="!readonly" (click)="updateEditFields()" [href]="'#editDialog' + localId" role="button" type="button" data-toggle="modal" title="Edit activity."><i class="fa fa-pencil"></i></a>

    <span *ngIf="!readonly && reportingMode" class="text-muted" style="border-right: 1px solid rgba(0,0,0,0.14)"></span>

    <a *ngIf="reportingMode" [href]="'#reportDialog' + localId" role="button" type="button" data-toggle="modal" title="Enter the progress for this activity."><i class="fa fa-clock-o"></i></a>

    <span *ngIf="!readonly" class="text-muted" style="border-right: 1px solid rgba(0,0,0,0.14)"></span>

    <a *ngIf="!readonly" [href]="'#createDialog' + localId" role="button" type="button" data-toggle="modal" title="Create child activity."><i class="fa fa-plus"></i></a>
  </div>

  <div class="nanny">
    <app-activity-item
      *ngFor="let child of activity.children; index as i"

      [activity]="child"

      [isRoot]="false"
      [index]="i"

      [progressVariables]="progressVariables"
      [progressVariableTypes]="progressVariableTypes"
      [statusTypes]="statusTypes"
      [variableValueLists]="variableValueLists"
      [activityPlanTemplates]="activityPlanTemplates"

      [readonly]="readonly"
      [reportingMode]="reportingMode"
      [readonlyReporting]="readonlyReporting"

      (change)="onChange($event)"
      (delete)="deleteChild($event.index)"
    ></app-activity-item>
  </div>


  <!-- Detail -->
  <div [id]="'detailDialog' + localId" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Activity: {{activity.name}}</h4>
        </div>
        <div class="modal-body">
          <h5 class="title">General Information</h5>
          <p style="display: flex">
            <span class="text-muted align-right" style="width: 90px">Description: </span>
            <span style="display: inline-block; width: 15px"></span>
            <span>{{activity.description}}</span>
          </p>
          <p style="display: flex">
            <span class="text-muted align-right" style="width: 90px">Weight: </span>
            <span style="display: inline-block; width: 15px"></span>
            <span>{{activity.weight}}</span>
          </p>
          <p style="display: flex">
            <span class="text-muted align-right" style="width: 90px">Schedules: </span>
            <span style="display: inline-block; width: 15px"></span>
            <span>
                            <span *ngIf="!activity.schedules || !activity.schedules.length">[n/a]</span>
                            <span *ngFor="let schedule of activity.schedules" style="display: block">
                                From {{schedule.from | date}} to {{schedule.to | date}}
                            </span>
                        </span>
          </p>
          <p style="display: flex">
            <span class="text-muted align-right" style="width: 90px">Size: </span>
            <span style="display: inline-block; width: 15px"></span>
            <span>{{activity.children.length}} subactivit{{activity.children.length === 1 ? 'y' : 'ies'}}</span>
          </p>

          <div *ngFor="let variableType of edit_valuedProgressVariableTypes">
            <h5 class="title" style="padding-top: 15px">{{variableType.name}} Variables</h5>
            <div *ngFor="let detail of activity.activityPlanDetails">
              <p style="display: flex" *ngIf="getProgressVariable(detail.variableId) && getProgressVariable(detail.variableId).typeId == variableType.id">
                <span class="text-muted align-right" style="width: 90px">{{detail.customVariableName || getProgressVariable(detail.variableId).name}}: </span>
                <span style="display: inline-block; width: 15px"></span>
                <span>
                                    <span style="display: flex">
                                        <span class="text-muted" style="width: 60px">Weight: </span>
                                        <span>{{detail.weight}}</span>
                                    </span>
                                    <span style="display: flex">
                                        <span class="text-muted" style="width: 60px">Target: </span>
                                        <span *ngIf="!getVariableValueItem(detail.variableId, detail.target)">
                                          {{detail.target}} {{getProgressVariable(detail.variableId).defaultUnit.name}}
                                        </span>
                                        <span *ngIf="getVariableValueItem(detail.variableId, detail.target)">
                                          {{getVariableValueItem(detail.variableId, detail.target).name}}
                                        </span>
                                    </span>
                                    <span style="display: flex" *ngIf="detail.progress">
                                        <span class="text-muted" style="width: 60px">Progress: </span>
                                        <span *ngIf="!getVariableValueItem(detail.variableId, detail.progress)">
                                          {{detail.progress}} {{getProgressVariable(detail.variableId).defaultUnit.name}}
                                          ({{detail.progress / detail.target * 100}}%)
                                        </span>
                                        <span *ngIf="getVariableValueItem(detail.variableId, detail.progress)">
                                          {{getVariableValueItem(detail.variableId, detail.progress).name}}
                                        </span>
                                    </span>
                                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Create -->
  <div *ngIf="!readonly" [id]="'createDialog' + localId" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create a Child Activity</h4>
        </div>
        <div class="modal-body">
          <div>
            <h5 class="title">Creation Mode:</h5>
            <select [(ngModel)]="addFromTemplate" name="add-from-template" title="Add from template?" class="form-control">
              <option value="YES">Select From Template</option>
              <option value="NO">Create New Activity</option>
            </select>
          </div>

          <hr />

          <div *ngIf="addFromTemplate == 'YES'">
            <h5 class="title">Template:</h5>
            <select [(ngModel)]="selectedTemplateId" name="selected-template" title="Choose Template" class="form-control">
              <option value="" selected>[Choose Template]</option>
              <option
                *ngFor="let template of activityPlanTemplates"
                [value]="template.id"
              >{{template.name}}</option>
            </select>
          </div>

          <div *ngIf="addFromTemplate == 'NO'">
            <h5 class="title">General Information</h5>
            <p style="display: flex">
              <label for="create_name" class="text-muted align-right" style="width: 90px">Name: *</label>
              <span style="display: inline-block; width: 15px"></span>
              <span style="flex: auto">
                <input [(ngModel)]="create_name" class="form-control" type="text" id="create_name" placeholder="Activity Name" />
              </span>
            </p>
            <p style="display: flex">
              <label for="create_description" class="text-muted align-right" style="width: 90px">Description: </label>
              <span style="display: inline-block; width: 15px"></span>
              <span style="flex: auto">
                <textarea [(ngModel)]="create_description" class="form-control" id="create_description" placeholder="Activity Description"></textarea>
              </span>
            </p>
            <p style="display: flex">
              <label for="create_weight" class="text-muted align-right" style="width: 90px">Weight: *</label>
              <span style="display: inline-block; width: 15px"></span>
              <span style="flex: auto">
                <input [(ngModel)]="create_weight" class="form-control" type="number" id="create_weight" placeholder="Activity Weight">
              </span>
            </p>
            <p style="display: flex">
              <label for="create_scheduleStart" class="text-muted align-right" style="width: 90px">Schedule: </label>
              <span style="display: inline-block; width: 15px"></span>
              <span style="flex: auto; display: inline-flex">
                <input [(ngModel)]="create_scheduleStart" class="form-control" type="date" id="create_scheduleStart" placeholder="Schedule Start">
                <span style="padding: 5px 15px">to</span>
                <input [(ngModel)]="create_scheduleEnd" class="form-control" type="date" id="create_scheduleEnd" placeholder="Schedule End">
              </span>
            </p>

            <div *ngFor="let variableType of create_valuedProgressVariableTypes">
              <h5 class="title" style="padding-top: 15px">{{variableType.name}} Variables</h5>
              <div *ngFor="let detail of extractDetails(create_varTargets, create_varWeights, create_varNames)">
                <p style="display: flex" *ngIf="getProgressVariable(detail.variableId) && getProgressVariable(detail.variableId).typeId == variableType.id">
                  <span class="text-muted align-right" style="width: 90px">{{detail.customVariableName || getProgressVariable(detail.variableId).name}}: </span>
                  <span style="display: inline-block; width: 15px"></span>
                  <span style="flex: auto">
                    <span style="display: flex">
                      <span class="text-muted" style="width: 60px">Weight: </span>
                      <span>{{detail.weight}}</span>
                    </span>
                    <span style="display: flex">
                      <span class="text-muted" style="width: 60px">Target: </span>
                      <span *ngIf="!getVariableValueItem(detail.variableId, detail.target)">
                        {{detail.target}} {{getProgressVariable(detail.variableId).defaultUnit.name}}
                      </span>
                      <span *ngIf="getVariableValueItem(detail.variableId, detail.target)">
                        {{getVariableValueItem(detail.variableId, detail.target).name}}
                      </span>
                    </span>
                    <span style="display: flex" *ngIf="detail.progress">
                      <span class="text-muted" style="width: 60px">Progress: </span>
                      <span>{{detail.progress}}</span>
                    </span>
                  </span>
                  <span style="display: inline-block; width: 15px"></span>
                  <span style="width: 90px; display: flex">
                    <button (click)="removeDetail(create_varTargets, create_varWeights, detail.variableId)" class="btn btn-danger" style="width: 100%">
                      <i class="fa fa-times"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>

            <div class="bg-info" style="padding: 15px 15px 5px">
              <div style="display: flex">
                <span class="text-muted align-right" style="width: 75px">Add a New Variable: </span>
                <span style="display: inline-block; width: 15px"></span>
                <div style="flex: 1">
                  <p style="display: flex">
                    <span style="flex: 1; display: flex">
                      <select
                        [(ngModel)]="create_newVar"
                        name="create_newVar"
                        class="form-control"
                        title="Variable *"
                        (change)="change_create_newVar()"
                      >
                        <option value="" selected>[Choose Variable]</option>
                        <option *ngFor="let variable of progressVariables" [value]="variable.id">
                          {{variable.name + (variable.type ? ' (' + variable.type.name + ')' : '' )}}
                        </option>
                      </select>
                    </span>
                    <span style="display: inline-block; width: 15px"></span>
                    <span style="flex: 1; display: flex">
                      <input
                        [(ngModel)]="create_newVarName"
                        name="create_newVarName"
                        type="text"
                        class="form-control"
                        placeholder="Variable Name *"
                        title="Variable Name *"
                        [disabled]="!create_newVar"
                      >
                    </span>
                  </p>
                  <p style="display: flex">
                    <span style="flex: 1; display: flex">
                      <input
                        *ngIf="!getVariableValueList(create_newVar)"
                        [(ngModel)]="create_newVarTarget"
                        name="create_newVarTarget"
                        type="number"
                        class="form-control"
                        [placeholder]="'Target (in ' + (getProgressVariable(create_newVar) ? getProgressVariable(create_newVar).defaultUnit.name : '') + ') *'"
                        [title]="'Target (in ' + (getProgressVariable(create_newVar) ? getProgressVariable(create_newVar).defaultUnit.name : '') + ') *'"
                        [disabled]="!create_newVar"
                      >
                      <select
                        *ngIf="getVariableValueList(create_newVar)"
                        [(ngModel)]="create_newVarTarget"
                        name="create_newVarTarget"
                        class="form-control"
                        title="Target *"
                      >
                        <option value="" selected>[Target]</option>
                        <option *ngFor="let item of getVariableValueList(create_newVar)" [value]="item.value">
                          {{item.name}}
                        </option>
                      </select>
                    </span>
                    <span style="display: inline-block; width: 15px"></span>
                    <span style="flex: 1; display: flex">
                      <input
                        [(ngModel)]="create_newVarWeight"
                        name="create_newVarWeight"
                        type="number"
                        class="form-control"
                        placeholder="Weight *"
                        title="Weight *"
                        [disabled]="!create_newVar"
                      >
                    </span>
                    <span style="display: inline-block; width: 15px"></span>
                    <span style="flex: 1; display: flex">
                      <button
                        (click)="add_create_newVar()"
                        type="button"
                        class="btn btn-default"
                        style="width: 100%; margin: 0"
                        [disabled]="!create_newVar || !create_newVarName || !create_newVarTarget || !create_newVarWeight"
                      >
                        <i class="fa fa-plus"></i>&nbsp; Add Variable
                      </button>
                    </span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button
            (click)="create()"
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            [disabled]="addFromTemplate == 'YES' ? (!selectedTemplateId) : (!create_name || !create_weight)"
          >Create</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit -->
  <div *ngIf="!readonly" [id]="'editDialog' + localId" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Activity: {{activity.name}}</h4>
        </div>
        <div class="modal-body">
          <h5 class="title">General Information</h5>
          <p style="display: flex">
            <label for="edit_name" class="text-muted align-right" style="width: 90px">Name: *</label>
            <span style="display: inline-block; width: 15px"></span>
            <span style="flex: auto">
              <input [(ngModel)]="edit_name" class="form-control" type="text" id="edit_name" placeholder="Activity Name">
            </span>
          </p>
          <p style="display: flex">
            <label for="edit_description" class="text-muted align-right" style="width: 90px">Description: </label>
            <span style="display: inline-block; width: 15px"></span>
            <span style="flex: auto">
              <textarea [(ngModel)]="edit_description" class="form-control" id="edit_description" placeholder="Activity Description"></textarea>
            </span>
          </p>
          <p style="display: flex">
            <label for="edit_weight" class="text-muted align-right" style="width: 90px">Weight: *</label>
            <span style="display: inline-block; width: 15px"></span>
            <span style="flex: auto">
              <input [(ngModel)]="edit_weight" class="form-control" type="number" id="edit_weight" placeholder="Activity Weight">
            </span>
          </p>
          <p style="display: flex">
            <label for="edit_scheduleStart" class="text-muted align-right" style="width: 90px">Schedule: </label>
            <span style="display: inline-block; width: 15px"></span>
            <span style="flex: auto; display: inline-flex">
              <input [(ngModel)]="edit_scheduleStart" class="form-control" type="date" id="edit_scheduleStart" placeholder="Schedule Start">
              <span style="padding: 5px 15px">to</span>
              <input [(ngModel)]="edit_scheduleEnd" class="form-control" type="date" id="edit_scheduleEnd" placeholder="Schedule End">
            </span>
          </p>

          <div *ngFor="let variableType of edit_valuedProgressVariableTypes">
            <h5 class="title" style="padding-top: 15px">{{variableType.name}} Variables</h5>
            <div *ngFor="let detail of extractDetails(edit_varTargets, edit_varWeights, edit_varNames)">
              <p style="display: flex" *ngIf="getProgressVariable(detail.variableId) && getProgressVariable(detail.variableId).typeId == variableType.id">
                <span class="text-muted align-right" style="width: 90px">{{detail.customVariableName || getProgressVariable(detail.variableId).name}}: </span>
                <span style="display: inline-block; width: 15px"></span>
                <span style="flex: auto">
                  <span style="display: flex">
                    <span class="text-muted" style="width: 60px">Weight:</span>
                    <span>{{detail.weight}}</span>
                  </span>
                  <span style="display: flex">
                    <span class="text-muted" style="width: 60px">Target:</span>
                    <span *ngIf="!getVariableValueItem(detail.variableId, detail.target)">
                      {{detail.target}} {{getProgressVariable(detail.variableId).defaultUnit.name}}
                    </span>
                    <span *ngIf="getVariableValueItem(detail.variableId, detail.target)">
                      {{getVariableValueItem(detail.variableId, detail.target).name}}
                    </span>
                  </span>
                  <span style="display: flex" *ngIf="detail.progress">
                    <span class="text-muted" style="width: 60px">Progress: </span>
                    <span>{{detail.progress}}</span>
                  </span>
                </span>
                <span style="display: inline-block; width: 15px"></span>
                <span style="width: 90px; display: flex">
                  <button (click)="removeDetail(edit_varTargets, edit_varWeights, detail.variableId)" class="btn btn-danger" style="flex: auto">
                    <i class="fa fa-times"></i>
                  </button>
                </span>
              </p>
            </div>
          </div>

          <div class="bg-info" style="padding: 15px 15px 5px">
            <div style="display: flex">
              <span class="text-muted align-right" style="width: 75px">Add a New Variable: </span>
              <span style="display: inline-block; width: 15px"></span>
              <div style="flex: 1">
                <p style="display: flex">
                  <span style="flex: 1; display: flex">
                    <select
                      [(ngModel)]="edit_newVar"
                      name="create_newVar"
                      class="form-control"
                      title="Variable *"
                      (change)="change_edit_newVar()"
                    >
                      <option value="" selected>[Choose Variable]</option>
                      <option *ngFor="let variable of progressVariables" [value]="variable.id">
                        {{variable.name + (variable.type ? ' (' + variable.type.name + ')' : '' )}}
                      </option>
                    </select>
                  </span>
                  <span style="display: inline-block; width: 15px"></span>
                  <span style="flex: 1; display: flex">
                    <input
                      [(ngModel)]="edit_newVarName"
                      name="edit_newVarName"
                      type="text"
                      class="form-control"
                      placeholder="Variable Name *"
                      title="Variable Name *"
                      [disabled]="!edit_newVar"
                    >
                  </span>
                </p>
                <p style="display: flex">
                  <span style="flex: 1; display: flex">
                    <input
                      *ngIf="!getVariableValueList(edit_newVar)"
                      [(ngModel)]="edit_newVarTarget"
                      name="edit_newVarTarget"
                      type="number" class="form-control"
                      [placeholder]="'Target (in ' + (getProgressVariable(edit_newVar) ? getProgressVariable(edit_newVar).defaultUnit.name : '') + ') *'"
                      [title]="'Target (in ' + (getProgressVariable(edit_newVar) ? getProgressVariable(edit_newVar).defaultUnit.name : '') + ') *'"
                      [disabled]="!edit_newVar"
                    >
                    <select
                      *ngIf="getVariableValueList(edit_newVar)"
                      [(ngModel)]="edit_newVarTarget"
                      name="edit_newVarTarget"
                      class="form-control"
                      title="Target *"
                    >
                      <option value="" selected>[Target]</option>
                      <option *ngFor="let item of getVariableValueList(edit_newVar)" [value]="item.value">
                        {{item.name}}
                      </option>
                    </select>
                  </span>
                  <span style="display: inline-block; width: 15px"></span>
                  <span style="flex: 1; display: flex">
                    <input
                      [(ngModel)]="edit_newVarWeight"
                      name="edit_newVarWeight"
                      type="number" class="form-control"
                      placeholder="Weight *"
                      title="Weight *"
                      [disabled]="!edit_newVar"
                    >
                  </span>
                  <span style="display: inline-block; width: 15px"></span>
                  <span style="flex: 1; display: flex">
                    <button
                      (click)="add_edit_newVar()"
                      type="button"
                      class="btn btn-default"
                      style="width: 100%; margin: 0"
                      [disabled]="!edit_newVar || !edit_newVarName || !edit_newVarTarget || !edit_newVarWeight"
                    >
                      <i class="fa fa-plus"></i>&nbsp; Add Variable
                    </button>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button
            (click)="edit()"
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            [disabled]="!edit_name || !edit_weight"
          >Save Changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete -->
  <div *ngIf="!readonly" [id]="'deleteDialog' + localId" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-danger">Confirm Deletion</h4>
        </div>
        <div class="modal-body">
          <p class="text-warning">Are you sure you want to delete this activity and all of its subactivities?</p>
          <p>
            <small>
              <span class="text-muted">Activity Name: </span>
              <span [title]="activity.description">{{activity.name}}</span>
              <br/>
              <span class="text-muted">Description:</span>
              {{activity.description}}
              <br/>
              <span class="text-muted">Size: </span>
              {{activity.children.length}} subactivit{{activity.children.length === 1 ? 'y' : 'ies'}}
            </small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="delete()" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Report -->
  <div *ngIf="reportingMode" [id]="'reportDialog' + localId" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Progress for Activity: {{activity.name}}</h4>
        </div>
        <div class="modal-body">
          <p style="display: flex; padding-top: 15px">
            <span class="text-muted align-right" style="padding-top: 5px; width: 90px">Activity Status:</span>
            <span style="display: inline-block; width: 15px"></span>
            <span style="flex: auto">
                            <select
                              [(ngModel)]="activity.progressStatusId"
                              class="form-control dropdown"
                              title="Enter progress status for the activity."
                              [disabled]="readonlyReporting"
                            >
                                <option *ngFor="let statusType of statusTypes" [value]="statusType.id">
                                    {{statusType.name}}
                                </option>
                            </select>
                        </span>
          </p>

          <div *ngIf="activity.progressStatusId && activity.progressStatusId != 3 && edit_valuedProgressVariableTypes.length">
            <div style="padding-top: 15px">Set progress values for the following variables.</div>

            <div *ngFor="let variableType of edit_valuedProgressVariableTypes">
              <h5 class="title" style="padding-top: 15px">{{variableType.name}} Variables</h5>
              <div *ngFor="let detail of activity.activityPlanDetails">
                <p style="display: flex" *ngIf="getProgressVariable(detail.variableId) && getProgressVariable(detail.variableId).typeId == variableType.id">
                                    <span class="text-muted align-right" style="padding-top: 5px; width: 90px">
                                        {{detail.customVariableName || getProgressVariable(detail.variableId).name}}:
                                    </span>
                  <span style="display: inline-block; width: 15px"></span>
                  <span style="flex: auto">
                                        <input
                                          *ngIf="!getVariableValueList(detail.variableId)"
                                          [(ngModel)]="detail.progress"
                                          type="number"
                                          class="form-control"
                                          [placeholder]="'Progress (Target = ' + detail.target + ' ' + getProgressVariable(detail.variableId).defaultUnit.name + ')'"
                                          [title]="'Enter Progress for ' + variableType.name + '\nTarget = ' + detail.target + ' ' + getProgressVariable(detail.variableId).defaultUnit.name + ')'"
                                          [readonly]="readonlyReporting"
                                        >
                                        <select
                                          *ngIf="getVariableValueList(detail.variableId)"
                                          [(ngModel)]="detail.progress"
                                          [name]="'progress-select-for-activity-' + activity.id + '-variable-' + detail.variableId"
                                          class="form-control"
                                          [title]="'Enter Progress for ' + variableType.name + '\nTarget = ' + detail.target + ' ' + getProgressVariable(detail.variableId).defaultUnit.name + ')'"
                                          [disabled]="readonlyReporting"
                                        >
                                            <option value="" selected>[Target]</option>
                                            <option *ngFor="let item of getVariableValueList(detail.variableId)" [value]="item.value">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" *ngIf="!readonlyReporting">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button
            (click)="setProgress()"
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            [disabled]="!activity.progressStatusId"
          >
            Set Progress
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
